#container{
    background-color: lightgray;
    width: 1300px;
    height: 1550px;
}

#redbox{
    display: inline-block;
    vertical-align: top;
    background-color: red;
    height: 800px;
    width: 300px;
}

p{
    display: inline-block;
    width: 980px;
    height: 600px;
}

#whitebox{
    background-color: white;
    width: 260px;
    height: 680px;
    margin: 20px auto;
}
