*{
    font-family: sans-serif;
}

#container{
    background-color: #265175;
    height: 970px;
    width: 970px;
}

#header img{
    display: inline-block;
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 360px;
}

#header p{
    display: inline-block;
    vertical-align: top;
    margin-left: 420px;
    color: white;
}

#blackline{
    color: black;
}

#headright{
    display: inline-block;
    background-color: blue;
    height: 120px;
    width: 270px;
}